* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #ffeaa7;
    position: relative;
}

.heartWrp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heart {
    position: relative;
    font-family: 'Sigmar One', cursive;
    color: #fff;
    font-size: 12px;
    width: 400px;
    height: 400px;
    padding: 110px 0;
}

.svg-heart {
    position: absolute;
    z-index: -99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.svg-heart__path {
	transition: fill 1s ease;
}

.quote {
    width: 300px;
    margin: 0 auto;
}

.quote-author {
    text-align: right;
}

.tonton {
    width: 150px;
    height: 140px;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 50%;
    /*background-image: url(../media/tonton1.png);*/
    background-color: transparent;
    background-size: 550%;
    background-repeat: no-repeat;
    /*background-position: -30px -40px;*/
    /*background-position: 120px 100px;*/
}

.tonton:focus {
	outline: none;
}